{{- /* Single-line CSV SBOM template with human-readable size */ -}}
"Package","Version","Type","Vendor","License(s)","Size"
{{- range .artifacts }}
"{{ .name }}","{{ .version }}","{{ .type }}","{{ if .metadata.vendor }}{{ .metadata.vendor }}{{ else if .metadata.maintainer }}{{ .metadata.maintainer }}{{ else if .metadata.originPackage }}{{ .metadata.originPackage }}{{ else }}N/A{{ end }}","{{ if .licenses }}{{- range $i, $l := .licenses }}{{ if $i }}, {{ end }}{{ $l.value }}{{- end }}{{ else if .metadata.license }}{{ .metadata.license }}{{ else }}N/A{{ end }}","{{- if .metadata.size -}}{{- $s := .metadata.size | int64 -}}{{- if ge $s 1073741824 }}{{ divf (float64 $s) 1073741824.0 | printf "%.1f GB" }}{{- else if ge $s 1048576 }}{{ divf (float64 $s) 1048576.0 | printf "%.1f MB" }}{{- else if ge $s 1024 }}{{ divf (float64 $s) 1024.0 | printf "%.1f KB" }}{{- else }}{{ printf "%d B" $s }}{{- end }}{{- else }}0 B{{- end }}"
{{- end }}
